// Style ligne menu en pied de page 
.footer_nav_list_calc li{
    list-style-type: none;
    font-weight: 400;
}

// Style de chaque anchor en pied de page 
.footer_nav_item_calc a {
    text-decoration: none;
    color: $color-darkgreen;
    font-size: 18px;
    font-weight: 400;
    color: #3DAD5C;
}
