.heading15 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-size: inherit;
  }
  
  .gradient-line {
    height: 2px;
    background: linear-gradient(to right, #B5D653, #3DAD5C);
  }
  
  .thin-gradient-line {
    height: 1px;
    background: linear-gradient(to right, #B5D653, #79C258);
  }