.menu-taille {
    font-family: 'roboto';
    font-size: large;
    font-weight: large;
}

h1 {
    font-family: 'montserrat';
    font-weight: 600;
}

.footer_nav_item {
    font-family: 'roboto';
    font-weight: large;
}

.footer_nav_list li {
    font-family: 'roboto';
    font-size: large;
}

.footer_nav_copyright {
    font-family: 'roboto';
    font-size: large;
}