.menu-taille {
    font-size: 18px;
}

h1 {
    font-size: inherit;
}

.h1-emploi {
 font-size: 35px;
 opacity: 80%;   
}

.p-slides {
    font-size: 18px;
    opacity: 80%;
    letter-spacing: 1px;
}

.p-lorem {
    font-size: 18px;
    opacity: 63%;
}

.header_nav_item a {
    font-size: 18px;
    font-weight: 400;
    color: #3DAD5C;
}