// Reponsive Notebook
@media screen and (min-width: 769px) and (max-width: 1366px) {
    .header_nav_list li a {
        font-size: 1.2em;
    }
    .header_nav_list li  {
        padding-right: 30px;
    }
    .logo {
        padding-right: 30px;
    }
// Titles
    .titre-mobile {
        display: none;
    }
    .titre-desktop {
        margin-top: 7%;
        text-align: center;
    }
// figures and drawings
.trois-feuilles {
    width: 20%;
    position: absolute;
    left: 120px;
    top: 120px;
}
.une-feuille {
    width: 20%;
    position: absolute;
    top: 310px;
    left: 60px;
}
.groupe-feuilles {
    width: 20%;
    position: absolute;
    top: 300px;
    left: 990px;

}
.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid #019961;
    position: absolute;
    top: 180px;
    left: 1000px;
  }
  .circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 20px solid #79C258;
    position: absolute;
    top: 110px;
    left: 1150px;
  }
  .circle3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 20px solid #B5D653;
    position: absolute;
    top: 220px;
    left: 1160px;
  }

// /* Disposition du menu en pied de page */
    .footer_nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: flex-end;     
        }

    .footer_nav_calculateur {
        margin-top: 34%;
        border-top: 2px solid #79C258;
    }


// text copyright en pied de page 
        .footer_nav_copyright {
        display: none;
 }
//  Style ligne menu en pied de page  */
   .footer_nav_list li{
    margin: 8px 0;
}
//   Style de chaque anchor en pied de page  */
  .footer_nav_item a {
     padding-right: 20px;
     font-size: 1.2em;
     font-weight: 600;
  }
  .footer_nav_item a:hover {
    text-decoration: underline;
}

// /* Formulaire */
form  {
    width: 60%;
    background-color: white;
    position: absolute;
    top: 260px;
    left: 20%;
}  
label {
    margin-left: 15%;
}
// /*  fenetre de saisir de données */
.boite_saisir {
    width: 70%;
    margin-left: 15%;
    height: 40px;    
}
.distanceDesktopLabel {
    display: none;
}
.distanceMobileLabel {
    text-align: center;
}
.daysDesktopLabel {
    display: none;
}
.daysMobileLabel {
    text-align: center;
}
 .btn-mobile , .btn-desktop {
    height: 50px;
    margin-left: 40%;
    margin-bottom: 10px;
    font-size: 1.5em;
   }

}


// Reponsive Tablete
@media screen and (min-width: 361px) and (max-width: 768px)  {
    .titre-mobile {
        display: none;
    }
    .titre-desktop {
        margin-top: 10%;
        text-align: center;
        font-size: 1.8em;
    }
    .header_nav ul {
         margin: 0%;  
        justify-content: space-around;   
    }
    .logo {
        padding-right: 10px;
    }
    .header_nav_list li  {
    padding-right: 15px; 
    font-size: 0.9em;
    }
    
// figures and drawings
.trois-feuilles {
    width: 25%;
    position: absolute;
    left: 30px;
    top: 230px;
}
.une-feuille {
    width: 25%;
    position: absolute;
    top: 390px;
    left: 20px;
}
.groupe-feuilles {
    width: 25%;
    position: absolute;
    top: 380px;
    left: 550px;

}
.circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 15px solid #019961;
    position: absolute;
    top: 220px;
    left: 550px;
  } 
  .circle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 15px solid #79C258;
    position: absolute;
    top: 200px;
    left: 660px;
  }
  .circle3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 15px solid #B5D653;
    position: absolute;
    top: 300px;
    left: 670px;
  }
// Formulaire 
form  {
    width: 60%;
    background-color: white;
    position: absolute;
    top: 260px;
    left: 20%;
}  
// fenetre de saisir de données 
.boite_saisir {
    width: 70%;
    margin-left: 15%;
    height: 40px;  
}
.distanceDesktopLabel {
    display: none;
}
.distanceMobileLabel {
    margin-left: 15%;
}
.daysDesktopLabel {
    display: none;
}
.daysMobileLabel {
    margin-left: 15%;
}
 /* Style du bouton du formulaire */
 .btn-mobile , .btn-desktop {
    margin-left: 25%;
   }


// /* Disposition du menu en pied de page */
.footer_nav_calc ul{
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;     
    }
    //text copyright en pied de page
    .footer_nav_copyright_calc {
        display: none;
}
.footer_nav_calc {
    margin-top: -4px;
    position: absolute;
    top: 0;
    right: 0;
}
//   Style de chaque anchor en pied de page  */
.footer_nav_item_calc a {
    padding-right: 20px;
    font-size: 18px;
    font-weight: 400;
 }

 .footer_nav_calc .footer_nav_item_calc:first-child {
    display: none;
}

}
// Reponsive Desktop
@media screen and (min-width: 1367px) {
    .image-header-logo {
        width: 7%;
        margin-top: 3px;
        margin-left: 7%;
    }

    .header_nav_emploi{
        position: absolute;
        width: 1912px;
        max-width: 1920px;
        top: 0;
        box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
    }

    .header_nav_emploi ul {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 1366px;
        margin-left: 15%;
    }

    .header_nav_list_emploi li {
        margin: 4px 0;
        list-style-type: none; 
    }

    .header_nav_item a {
        padding-right: 40px;
        text-decoration: none;
        color: #3DAD5C;
    }

// Titles
    .titre-mobile {
        display: none;
    }
    .titre-desktop {
        margin-top: 5%;
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
    }
// figures and drawings
    .trois-feuilles {
        width: 15%;
        position: absolute;
        left: 320px;
        top: 120px;
    }
    .une-feuille {
        width: 15%;
        position: absolute;
        top: 310px;
        left: 260px;
    }
    .groupe-feuilles {
        width: 15%;
        position: absolute;
        top: 320px;
        left: 1330px;
    }
    .circle1 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 20px solid #019961;
        position: absolute;
        top: 180px;
        left: 1370px;
      }
      .circle2 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 20px solid #79C258;
        position: absolute;
        top: 120px;
        left: 1520px;
      }
      .circle3 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 20px solid #B5D653;
        position: absolute;
        top: 230px;
        left: 1530px;
      }
//       /* Formulaire */
    form  {
        width: 50%;
        background-color: white;
        position: absolute;
        top: 260px;
        left: 25%;
    }
    .distanceDesktopLabel {
        margin-left: 15%;
        font-size: 1.3em;
    }
    .distanceMobileLabel {
        display: none;
    }
    .daysDesktopLabel {
        margin-left: 15%;
        font-size: 1.3em;
    }
    .daysMobileLabel {
        display: none;
    }
    /*  fenetre de saisir de données */
    .boite_saisir {
        width: 70%;
        margin-left: 15%;
        height: 40px; 
    }
    .btn-mobile , .btn-desktop {
        height: 60px;
        margin-left: 40%;
        margin-bottom: 30px;
        font-size: 1.6em;
       }

// /* Disposition du menu en pied de page */

.footer_nav {
    margin-top: 37%;
}

.footer_nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer_nav_copyright {
    display: none;
}

.footer_nav_list li {
    margin: 8px 0;
    list-style-type: none;    
}

.footer_nav_item a {
    padding-right: 25px;
    text-decoration: none;
    color: #3DAD5C;
}

.footer_nav_list {
    max-width: 1920px;
    border-top: 2px solid #79C258;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: -10px;
}

}  

// Reponsive Mobile
@media screen and (max-width: 360px) {
    
    
    .header_nav li {
     display: none;
    }
     //  Redimensionament du Logo en haut de page
     .logo {
         width: 30%;
    } 
 
 //    Titles
     .titre-mobile {
         text-align: center;
     }
     .titre-desktop {
         display: none;
     }
//  figures and drawings
 .trois-feuilles {
     display: none;
 }
 .une-feuille {
     display: none;
 }
 .groupe-feuilles {
     display: none;
 }
 .circle1 {
     display: none;
   }
   .circle2 {
     display: none;
   }
   .circle3 {
     display: none;
   }   
 
    .footer_nav_list_calc {
     padding-left: 10px;
 }
 
     // Disposition du menu en pied de page
    .footer_nav_calc ul{
     padding-top: 110px;
     max-height: 700px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap; 
     justify-content: flex-start;
     max-width: 250px;
     }
 
 
     // text copyright en pied de page
     .footer_nav_copyright_calc {
     position: absolute;
     padding-left: 10px;
     padding-top: 10px;
     width: 360px;
     margin-top: 40px;
     border-top: 2px solid $color-lightgreen;
     font-size: 1.1em;
     }
 
     // Distance entre pied de page et formulaire
     .footer_nav_calc {
         margin-top: 60px;
     }
 
     // Style ligne menu en pied de page 
     .footer_nav_list_calc li{
         margin: 8px 0;
     }
     // Style de chaque anchor en pied de page 
     .footer_nav_item_calc a {
         padding-right: 10px;
     }
//      /* Formulaire */
     form {
         margin: 10px;
     }
    //  /*  fenetre de saisir de données */
     .boite_saisir {
         width: 90%;
         height: 40px;
     }
     .distanceDesktopLabel {
         display: none;
     }
     .distanceMobileLabel {
         text-align: center;
     }
     .daysDesktopLabel {
         display: none;
     }
     .daysMobileLabel {
         text-align: center;
     }
     // Style du bouton du formulaire
     .btn {
         height: 50px;
         width: 90%;
         margin: 10px;
         font-size: 1.5em;
     }
     .notice {
         margin-bottom: 20px;
     }
     
     .fieldset1 {
        margin-top: 15%;
     }
 
 }